<h1 class="is-size-2">Create an article</h1>
<%= form_for @article do |f| %>
  <div class="field">
    <div class="columns">
      <div class="column is-one-fifth">
        <%= f.label :title, class: 'label' %>
        <div class="control">
          <%= f.text_field :title, class: 'input', type: 'text' %>
          <%= f.label :description, class: 'label' %>
          <%= f.text_area :description, class: 'textarea' %>
        </div>
        <div>
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>
